.everything {
    background-color:rgb(10, 10, 139);
    }
    
    .thetitle {
    background-color:rgb(19, 16, 16);
    }
    
    h3
    {
        font-size: 25px !important;
    }
    
    #takesnapshot:hover
    {
    background-color: blue;
    }
    
    canvas 
    {
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
    @keyframes example {
        from {box-shadow: 1px 1px 38px blue;}
        to {box-shadow: 1px 1px 38px rgb(102, 7, 149)}
    }    